<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">
            <i class="fas fa-dragon me-2"></i>
            Angular Exercises
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       routerLink="/"
                       [routerLinkActive]="'active'"
                       [routerLinkActiveOptions]="{exact:true}">
                        <i class="fas fa-calculator me-1"></i>
                        Counter
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       [routerLink]="['/car']"
                       [routerLinkActive]="'active'">
                        <i class="fas fa-car me-1"></i>
                        Car
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       [routerLink]="['/dragonball']"
                       [routerLinkActive]="'active'">
                        <i class="fas fa-fist-raised me-1"></i>
                        DragonBall
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       [routerLink]="['/dragonball-super']"
                       [routerLinkActive]="'active'">
                        <i class="fas fa-dragon me-1"></i>
                        DragonBall Super
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
